---
import Base from "@/layouts/Base.astro";
import ImageMod from "@/components/ImageMod.astro";
import BookADemoSection from "@/partials/BookADemoSection.astro";
import CallToAction from "@/partials/CallToAction.astro";
import { markdownify } from "@/lib/utils/textConverter";
import DiscoverProductFeature from "@/partials/DiscoverProductFeature";
import HomeBanner from "@/partials/HomeBanner.astro";
import PricingSection from "@/partials/PricingSection.astro";
import ServicesWithCTA from "@/partials/ServicesWithCTA.astro";
import TestimonialCarousel from "@/partials/TestimonialCarousel.astro";
import ServicesSection from "@/partials/ServicesSection.astro";
import { getEntry } from "astro:content";
import FaqSection from "@/partials/FaqSection.astro";

interface NewsletterButton {
  enable: boolean;
  label: string;
  formPlaceholder: string;
}

interface BannerImages {
  left: string;
  center: string;
  right: string;
}

export interface IHomepageBanner {
  title: string;
  content: string;
  newsletterButton: NewsletterButton;
  bulletpoints: string[];
  bannerImages: BannerImages;
}

interface WorkforceEfficiencyItem {
  title: string;
  icon: string;
  content: string;
}

export interface IHomepageWorkforceEfficiency {
  title: string;
  list: WorkforceEfficiencyItem[];
}

interface AccordionItem {
  title: string;
  content: string;
  image: string;
}

export interface IHomepageDiscoverProductFeature {
  title: string;
  content: string;
  accordionList: AccordionItem[];
}

interface ServiceCard {
  head: string;
  icon: string;
  title: string;
  subtitle: string;
  images: string | ServiceCardImages;
}

interface ServiceCardImages {
  left: string;
  top: string;
  bottom: string;
}

interface CTAButton {
  enable: boolean;
  label: string;
  link: string;
}

interface CTA {
  enable: boolean;
  head: string;
  icon: string;
  title: string;
  subtitle: string;
  images: {
    sm_1: string;
    sm_2: string;
    sm_3: string;
    lg: string;
  };
  button: CTAButton;
}

export interface IHomepageServicesWithCTA {
  leftCard: ServiceCard;
  rightCard: ServiceCard;
  cta: CTA;
}
interface WhatWeOfferItem {
  title: string;
  image: string;
  subtitle: string;
}

interface WhatWeOfferSection {
  enable: boolean;
  title: string;
  list: WhatWeOfferItem[];
}

interface Feature {
  title: string;
  description: string;
}
interface HeroImageContainer {
  leftImage: string;
  rightImage?: string;
}

interface HeroRightImageContainer { 
  leftImageLg: string;
  rightTopImageSm: string;
  rightBottomImageMd: string;
}

interface HeroSection {
  leftImageContainer: HeroImageContainer;
  rightImageContainer: HeroRightImageContainer;
  featureList: Feature[];
}
interface Button {
  enable: boolean;
  label: string;
  link: string;
}
interface PageContent {
  banner: IHomepageBanner;
  workforceEfficiency: IHomepageWorkforceEfficiency;
  discoverProductFeature: IHomepageDiscoverProductFeature;
  servicesWithCTA: IHomepageServicesWithCTA;
  whatWeOffer: WhatWeOfferSection;
  services: { enable: boolean };
  hero: HeroSection;
  faq: { enable: boolean };
  
}



const homepage = await getEntry("homepage", "-index");
const { banner, discoverProductFeature, servicesWithCTA, services,whatWeOffer, hero, faq }: PageContent = homepage.data;
--- 

<Base>
  <HomeBanner banner={banner}/> 
  
  {
    whatWeOffer.enable && (
      <section class="section" id="product">
        <div class="container">
          <div class="flex flex-col gap-8 md:gap-16">
            <h2 set:html={markdownify(whatWeOffer.title)} data-aos="fade-up-sm" data-aos-delay="100" />
            <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-16 md:gap-6">
              {whatWeOffer.list.map((item, index) => (
                <div class="flex flex-col gap-6 w-full" data-aos="fade-up-sm" data-aos-delay={index * 200}>
                  <div class="bg-primary rounded-3xl p-3  xl:min-h-[370px] overflow-hidden">
                    <ImageMod
                      width={335}
                      height={280}
                      src={item.image}
                      alt="service image"
                      class="object-cover w-full h-full rounded-2xl hover:scale-110 transition"
                    />
                  </div>
                  <div class="flex flex-col gap-4">
                    <h4 class="text-h5 text-center">{item.title}</h4>
                    <p class="text-dark/80 text-justify">{item.subtitle}</p>
                  </div>
                </div>
              ))}
            </div>
          </div>
        </div>
      </section>
    )
  }
  <DiscoverProductFeature client:visible discoverProductFeature={discoverProductFeature} />
  {services.enable && <ServicesSection />}


  <section class="section set-up-process">

    <div class="container-lg bg-primary text-white">
      <div class="flex flex-col lg:flex-row gap-10 xl:gap-10 p-7 ">
        <div class="mb-14">
                <h2 class="mb-5 text-white" data-aos="fade-up-sm" data-aos-delay="0">
                  Easy set-up process
                </h2>   
            </div>
        </div>
      <div class="grid md:grid-cols-2 gap-6 mb-10 lg:mb-20 hidden">
        <!-- LEFT IMAGE GRID -->
        <div class="grid grid-cols-2 gap-4 rounded-3xl bg-white/10 p-6" data-aos="fade-up-sm" data-aos-delay="100">
          <ImageMod
            width={272}
            height={365}
            class="w-full h-full object-cover rounded-2xl"
            src={hero.leftImageContainer.leftImage}
            alt="feature image"
          />
          <ImageMod
            width={272}
            height={365}
            class="w-full h-full object-cover rounded-2xl"
            src={hero.leftImageContainer.rightImage as string}
            alt="feature image"
          />
        </div>
        <!-- RIGHT IMAGE GRID -->
        <div
          class="grid grid-cols-2 grid-rows-3 gap-4 rounded-3xl bg-white/10 p-6 max-h-min"
          data-aos="fade-up-sm"
          data-aos-delay="200"
        >
          <img
            width={566}
            height={310}
            class="row-span-3 w-full h-full object-cover rounded-2xl"
            src={hero.rightImageContainer.leftImageLg}
            alt="feature image"
          />
          <img
            width={227}
            height={86}
            class="w-full h-full object-cover rounded-2xl"
            src={hero.rightImageContainer.rightTopImageSm}
            alt="feature image"
          />
          <img
            width={227}
            height={191}
            class="h-full row-span-2 w-full object-cover rounded-2xl"
            src={hero.rightImageContainer.rightBottomImageMd}
            alt="feature image"
          />
        </div>
      </div>
      <div class="grid md:grid-cols-3 lg:grid-cols-3 gap-6">
        {
          hero.featureList.map((feature, index) => (
            <div class="flex flex-col items-center text-center" data-aos="fade-up-sm" data-aos-delay={index * 100}>
              <div class="bg-secondary rounded-2xl w-16 h-16 grid place-items-center">
                <span class="text-h5 font-medium font-secondary text-text">{++index}</span>
              </div>
              <h3 class="text-h5 font-medium font-secondary  text-white mt-9">{feature.title}</h3>
              <p class="text-light">{feature.description}</p>
            </div>
          ))
        }
      </div>
    </div>
  </section>


  <!-- <ServicesWithCTA servicesWithCTA={servicesWithCTA} /> -->
  <PricingSection isPageHeader={false} />
  <!-- {faq.enable && <FaqSection />} -->
  <!-- <TestimonialCarousel variant="tertiary" /> -->
  <BookADemoSection />
 
</Base>
